name: Publish

on:
  push:
    tags: v*

jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Extract version
        run: echo ::set-env name=VERSION::${GITHUB_REF#refs/*/v}
      - name: Poetry cache
        uses: actions/cache@v3
        with:
          key: poetry-${{ hashFiles('poetry.lock') }}-publish
          path: ~/.cache/pypoetry
          restore-keys: |
            poetry-${{ hashFiles('poetry.lock') }}-
            poetry-
      - uses: actions/setup-python@v4
        with:
          python-version: 3.10.10
      - name: Publish
        uses: abatilo/actions-poetry@v2
        with:
          poetry_version: 1.4.1
      - name: Publish
        run: poetry publish --build --no-interaction
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
      - name: Create Release
        id: create_release
        run: |
          hub release create -m 'Release ${{ github.ref_name }}' \
            -a dist/stormlock-${{ env.VERSION }}-py3-none-any.whl \
            -a dist/stormlock-${{ env.VERSION }}-sdist.tar.gz \
            ${{ contains(github.ref, '-') ? '--prerelease' : '' }} '${{ github.ref_name }}'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: ${{ contains(github.ref, '-') }}
